/* src/components/AddProductType.css */

.add-product-type {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    border-color: turquoise;
    outline: none;
  }
  
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  
  .back-btn, .next-btn {
    padding: 12px 30px; /* Same padding for equal size */
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px; /* Fixed width for consistency */
    text-align: center;
  }
  
  .back-btn {
    background-color: #ccc;
    color: #333;
    height: 50px;
  }
  
  .back-btn:hover {
    background-color: #bbb;
  }
  
  .next-btn {
    background-color: blue;
    color: white;
  }
  
  .next-btn:hover {
    background-color: #003580;
  }
  